<!-- 
    **Written in PT for memorization
    O que são diretivas?

    Eu posso dizer que uma diretiva é um marcador em determinado elemento no DOM
    que informa ao Angular para anexar um comportamento esepecificado a um elemento existente.
    Este comportamento pode ser uma alteração na estrutura do DOM ou uma alteração direta no componente.

    There are two kinds of directives:

    - Structural Directives: Modify the structure of the DOM. Ex.: *ngIf, *ngFor, ngSwitch, ngSwitchWhen and ngSwitchDefault
    - Attribute Directives: Modify the attributes of DOM elements. Ex.: ngClass, ngStyle, ngControlName, ngModel

    Note: Its importante to mention that the directives are usually set by the '[]' signal, but ngIf and ngFor use '*' before
    because this operator is a sintaxe sugar. I could set the directive using [], but it demand a more complex implementation. Check out
    on the documentation.
 -->
<h1>Structural Directivers</h1>
<h1>ngIf</h1>
<h2>Changing the DOM structure</h2>
<div *ngIf="courses.length > 0; then coursesList else noCourses">
    List of courses
</div>
<ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>

<br>

<div [hidden]="courses.length == 0">
    List of courses
</div>
<div [hidden]="courses.length > 0">
    No courses yet.
</div>

<br>
<hr>

<h1>ngSwitchCase</h1>

<!-- ul.nav.nav-pills -->
<ul class="nav nav-pills">
    <!-- (li>a)*2 -->
    <!-- On click I dont need necessarily to call a method,
    I can change directly the variable inline, just like its been done below -->
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>

<br>
<hr>

<h1>NgFor</h1>

<ul>
    <!-- this is a way I can get the index with the Angular -->
    <li *ngFor='let course of coursesTwo; index as i'>
        {{i}} - {{ course.name }}
    </li>
    <!-- get true in the even ones -->
    <li *ngFor='let course of coursesTwo; even as isEven'>
        {{ course.name }} <span *ngIf="isEven">(IS EVEN)</span>
    </li>
</ul>

<br>

<h2>With change direction</h2>
<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of coursesThree">
        {{course.name}}
        <button (click)="onRemove(course)">Remove</button>
        <button (click)="onChange(course)">Change</button>
    </li>
</ul>

<br>

<button (click)="loadCourses()">Load Coursers</button>

<!-- this mechanism is used to optimize performace<ul> -->
<ul>
    <li *ngFor="let course of coursesFour; trackBy: trackCourse">
        {{course.name}}
    </li>
</ul>

<br>
<hr>
<h1>Attribute directives</h1>
<h1>ngStyle</h1>
<!-- like we did with ngClass, we can use ngStyle to make it easier. -->
<!-- <button
[style.backgroundColor]="canSave ? 'blue':'gray'"
[style.color]="canSave ? 'white':'black'"
[style.fontWeight]="canSave ? 'bold':'normal'"
>Save</button> -->
<button
[ngStyle]="{
    'backgroundColor': canSave ? 'blue':'gray',
    'color': canSave ? 'white':'black',
    'fontWeight': canSave ? 'bold':'normal'
}">Save</button>

<br>
<hr>

<h1>Safe Traversal Operator</h1>
<span>{{ task.assignee?.name }}</span>

<br>
<hr>

<h1>Customized Directive</h1>
<input type="text" [appInputFormat]="'uppercase'">